.idea
target
.gradle/6.7/executionHistory
.gradle/6.7/fileHashes
.gradle/6.7/javaCompile
.gradle/buildOutputCleanup
.gradle
*.iml
build
build/classes
build/test-results
build/tmp
*.exe
*.bin
*.lock
*.html
.*idx
.exe
.bin
.lock
.html
.txt
.idx
